body{
    font-family: 'Open Sans', sans-serif;}

.blue{
    width:29%;
    height:750px;
    float:left;
    background-color:rgb(1, 1, 184);
}

.green{
    width:69%;
    height:750px;
    float:left;
    background-color:rgb(216, 216, 216);
    border: .25px solid gray;
}

.inline-block{
    display: inline-block;
    margin:0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(43, 43, 43);
    text-align: center;
    color: white;
}

nav{
    background-color: rgb(216, 216, 216);
    width: 98%;
    border: .25px solid gray;
}

.goldenrod{
    height: 30%;
    background-color: rgb(216, 216, 216);
    text-align: center;
    border: .25px solid gray;
}

.orangered{
    height: 70%;
    background-color: rgb(216, 216, 216);
    border: .25px solid gray;
}

h2{
    margin:0;
    border:0;
    padding:0;
}

.content{
    text-align: left;
    margin:0;
    border:0;
    padding:20px;
    padding-right:20px;
}

img{
    height: 200px;
    max-width: 300px;
}

.Heading{
    width: 90%;
    background-color: lightblue;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgb(216, 216, 216);
}

.left{
    float:left;
    padding-right: 15px;
}

.Pictures{
    width: 90%;
    background-color: lightblue;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid gray;
    background-color: rgb(216, 216, 216);
}

.ProfilePic{
    width: 40%;
    height: 40%;
}

ul{
    margin:0;
}